#about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-family: 'Gugi', cursive;
        font-size: 1.8em;
        margin-bottom: 30px;
        
    }

    .about{
        width: 70%;
        margin: 30% 0 0 0;

        h1{
            white-space: nowrap;
        }

        div{

            display: flex;
            flex-direction: row;
            justify-content: center;

            @media screen and (max-width: 560px){
                flex-direction: column;
                display: flex;
            }


            h3{ 

                position: relative;
                &:first-child{
                    padding-right: 8px;
                }

                padding: 0 8px 0 0;
                font-size: 1.3em;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.3em;  
            }

        }

        p{
            font-family: 'Montserrat', sans-serif;
            line-height: 1.9em;
            font-size: 0.7em;
            letter-spacing: 0.09em;
            font-weight: 300;
            padding-bottom: 20px;

             //tablet and desktop
             @media screen and (min-width: 768px){
                margin-top: 30px;
                padding-top: 0;
                font-size: 0.9em;
                margin: 0 12%;
            }
            @media screen and (min-width: 1024px){
                margin: 0 14%;
            }

            
            @media screen and (min-width: 1072px){
                &.typewriter{
                    overflow: hidden; /* Ensures the content is not revealed until the animation */
                    border-right: .15em solid transparent; /* The typwriter cursor */
                    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                    letter-spacing: .15em; /* Adjust as needed */
                    animation: typing 3.5s steps(30, end);  
                    white-space: nowrap;
                    animation-delay: 2s;  
                }
            }
            
        }

        .astro{
            position: relative;

            img{
                position: absolute;
                width: 18%;
                right: 42%;
                top: 10%;
                
            }
            
        }

    
        iframe{
            @media screen and (min-width: 768px){
                width: 560px; 
                height: 315px;   
            }
            @media screen and (min-width: 1024px){
                width: 690px; 
                height: 435px;   
            }
        }
    }

    .about5{
        position: relative;
        
        img{
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 75%;
            }
            @media screen and (min-width: 1224px) {
                width: 65%;
            }
        }

        div{
            cursor: pointer;
            position: absolute;
            height: 24px;
            border-radius: 90%;
            width: 24px;

            //AMES
            &.dot1{
               top: 45%;
               left: 13%;
               position: absolute;
               @media screen and (min-width: 1024px){
                    top: 42%;
               }
               @media screen and (min-width: 1224px){
                    left: 17.3%;
               }
               @media screen and (min-width: 1440px){
                    left: 17.8%;
               }
            }

            //AFRC
            &.dot2{
               top: 53%;
               left: 17%;
               position: absolute;
               @media screen and (min-width: 1024px){
                    top: 51%;
               }
               @media screen and (min-width: 1224px){
                    left: 21.5%;
               }
               @media screen and (min-width: 1440px){
                    top: 50%;
               }
            }

            //JSC
            &.dot3{
                left: 50%;
                top: 77%;
                position: absolute;
                @media screen and (min-width: 1440px){
                    top: 76%;
                }
            }

            //SSC
            &.dot4{
                left: 60%;
                top: 70%;
                position: absolute;
                @media screen and (min-width: 1024px){
                    top: 69%;
                    left: 59%;
                }
                @media screen and (min-width: 1224px){
                    left: 58%;
                }
                @media screen and (min-width: 1440px){
                    left: 58.6%;
                }
            }

            //MSFC
            &.dot5{
                left: 65%;
                top: 60%;
                position: absolute;
                @media screen and (min-width: 1024px){
                    top: 58%;
                }
                @media screen and (min-width: 1224px){
                    left: 63%;
                }
            }

            //KSC
            &.dot6{
                left: 79%;
                top: 80%;
                position: absolute;
                @media screen and (min-width: 1024px){
                    top: 79%;
                }
                @media screen and (min-width: 1224px){
                    left: 75%;
                }
            }

            //GRC
            &.dot7{
                left: 69%;
                top: 39%;
                position: absolute;
                @media screen and (min-width: 1024px){
                    top: 36%;
                }
                @media screen and (min-width: 1224px){
                    left: 66%;
                }
                @media screen and (min-width: 1440px){
                    left: 66.7%;
                    top: 35%;
                }
            }

            //HQ
            &.dot8{
                left: 74.3%;
                top: 45.3%;
                position: absolute;
                @media screen and (min-width: 1024px){
                    left: 75.3%;
                    top: 41.3%;
                }
                @media screen and (min-width: 1224px){
                    left: 72.3%;
                }
                @media screen and (min-width: 1440px){
                    left: 72.8%;
                    top: 40%;
                }
            }

            //GSFC
            &.dot9{
                left: 78%;
                top: 41%;
                position: absolute;
                @media screen and (min-width: 1024px){
                    top: 38%;
                }
                @media screen and (min-width: 1224px){
                    left: 74%;
                }
                @media screen and (min-width: 1440px){
                    top: 37%;
                }
            }

            //LaRC
            &.dot10{
                left: 79%;
                top: 47%;
                position: absolute;
                @media screen and (min-width: 1024px){
                    top: 45%;
                }
                @media screen and (min-width: 1224px){
                    left: 75%;
                }
                @media screen and (min-width: 1440px){
                    top: 44%;
                }
            }
        }
    }

    .aboutToTop{
        margin-bottom: 20px;
        margin-top: 40%;
        @media screen and (min-width: 1024px){
            margin-top: 20%;
        }
        
        a{
            margin-bottom: 0;
            cursor: pointer;
            padding-bottom: 30px;

            img{
                height: 30px;
            }
        }
    }


}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


.locations{
    margin-top: 10%;
    position: relative;

    div{
        display: none;

        h4{
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            white-space: nowrap;
            margin-bottom: 10px;
            font-size: 0.9em;
        }

        a{
            font-family: 'Montserrat', sans-serif;
            color: red;
            font-size: 0.8em;
            text-decoration: none;
        }

        &.ames{

            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: -400px;
                    top: -300px;
                }
                @media screen and (min-width: 1224px){
                    margin-left: -449px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: -501px;
                    top: -358px;
                }

            }
        }

        &.afrc{
            
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: -343px;
                    margin-top: -154px;
                }
                @media screen and (min-width: 1224px){
                    margin-left: -368px;
                    margin-top: -185px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: -395px;
                    margin-top: -225px;
                }
            }
        }

        &.jsc{
            
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: -164px;
                    margin-top: -87px;
                }
                @media screen and (min-width: 1440px){
                    margin-top: -137px;
                }
            }
        }

        &.ksc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 207px;
                    margin-top: -119px;
                }
                @media screen and (min-width: 1024px){
                    margin-left: 238px;
                }
                @media screen and (min-width: 1440px){
                    margin-top: -136px;
                }
                
            }
        }

        &.ssc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 13px;
                    margin-top: -114px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: 42px;
                    margin-top: -166px;
                }
            }
        }

        &.msfc{
            
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 195px;
                    margin-top: -203px;
                }
                @media screen and (min-width: 1224px){
                    margin-left: 223px;
                    margin-top: -236px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: 313px;
                }
            }
        }

        &.grc{
          
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 53px;
                    margin-top: -364px;
                }
                @media screen and (min-width: 1024px){
                    margin-top: -413px;
                }
                @media screen and (min-width: 1224px){
                    margin-left: 69px;
                    margin-top: -443px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: 101px;
                    margin-top: -522px;
                }
            }
        }

        &.hq{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 118px;
                    margin-top: -389px;
                }
                @media screen and (min-width: 1024px){
                    margin-top: -421px;
                    margin-left: 241px;
                }
                @media screen and (min-width: 1224px){
                    margin-left: 215px;
                    margin-top: -469px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: 331px;
                    margin-top: -407px;
                }
            }
        }

        &.lrc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 211px;
                    margin-top: -264px;
                }
                @media screen and (min-width: 1024px){
                    margin-left: 249px;
                }
                @media screen and (min-width: 1224px){
                    margin-left: 251px;
                    margin-top: -302px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: 307px;
                    margin-top: -321px;
                }
            }
        }

        &.gsfc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 200px;
                    margin-top: -358px;
                }
                @media screen and (min-width: 1024px){
                    margin-left: 266px;
                    margin-top: -350px;
                }
                @media screen and (min-width: 1224px){
                    margin-left: 276px;
                    margin-top: -358px;
                }
                @media screen and (min-width: 1440px){
                    margin-left: 324px;
                    margin-top: -504px;
                }
                
            }
        }

    }
}