#about{

    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-family: 'Gugi', cursive;
        font-size: 1.8em;
        margin-bottom: 30px;
        
    }

    .about{
        width: 70%;
        margin: 30% 0 0 0;

        h1{
            white-space: nowrap;
        }

        div{

            display: flex;
            flex-direction: row;
            justify-content: center;

            @media screen and (max-width: 560px){
                flex-direction: column;
                display: flex;
            }


            h3{ 

                position: relative;
                &:first-child{
                    padding-right: 8px;
                }

                padding: 0 8px 0 0;
                font-size: 1.3em;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.3em;  
            }

        }

        p{
            font-family: 'Montserrat', sans-serif;
            line-height: 1.9em;
            font-size: 0.7em;
            letter-spacing: 0.09em;
            font-weight: 300;
            padding-bottom: 20px;

             //tablet and desktop
             @media screen and (min-width: 768px){
                margin-top: 30px;
                padding-top: 0;
                font-size: 0.9em;
                margin: 0 12%;
            }
            @media screen and (min-width: 1024px){
                margin: 0 14%;
            }

            
            @media screen and (min-width: 1072px){
                &.typewriter{
                    overflow: hidden; /* Ensures the content is not revealed until the animation */
                    border-right: .15em solid transparent; /* The typwriter cursor */
                    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                    letter-spacing: .15em; /* Adjust as needed */
                    animation: typing 3.5s steps(30, end);  
                    white-space: nowrap;
                    animation-delay: 2s;  
                }
            }
            
        }

        .astro{
            position: relative;

            img{
                position: absolute;
                @media screen and (max-width: 560px){
                    width: 22%;
                    right: 38%;
                    top: 10%;
                }
            }
            
        }

        .starS{
            position: relative;

            img{
                position: absolute;
                @media screen and (max-width: 560px){
                    width: 55%;
                    left: 62%;
                    // margin-top: -31px;
                }
                @media screen and (min-width: 561px){
                    margin-top: -100px;
                    left: 68%;
                    width: 48%;
                }
                @media screen and (min-width: 1000px){
                    left: 70%;
                    width: 30%;
                }
            }
            
        }

        iframe{
            @media screen and (min-width: 768px){
                width: 560px; 
                height: 315px;   
            }
            @media screen and (min-width: 1024px){
                width: 690px; 
                height: 435px;   
            }
        }
    }

    .about5{
        img{
            width: 100%;
            @media screen and (min-width: 1024px) {
                width: 75%;
            }
        }
    }

    .aboutToTop{
        margin-bottom: 0;
        
        a{
            margin-bottom: 0;
            cursor: pointer;
            padding-bottom: 30px;

            img{
                height: 30px;
            }
        }
    }

}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

