#about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-family: 'Gugi', cursive;
        font-size: 1.8em;
        margin-bottom: 30px;
        
    }

    .about{
        width: 70%;
        margin: 30% 0 0 0;

        h1{
            white-space: nowrap;
        }

        div{

            display: flex;
            flex-direction: row;
            justify-content: center;

            @media screen and (max-width: 560px){
                flex-direction: column;
                display: flex;
            }


            h3{ 

                position: relative;
                &:first-child{
                    padding-right: 8px;
                }

                padding: 0 8px 0 0;
                font-size: 1.3em;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.3em;  
            }

        }

        p{
            font-family: 'Montserrat', sans-serif;
            line-height: 1.9em;
            font-size: 0.7em;
            letter-spacing: 0.09em;
            font-weight: 300;
            padding-bottom: 20px;

             //tablet and desktop
             @media screen and (min-width: 768px){
                margin-top: 30px;
                padding-top: 0;
                font-size: 0.9em;
                margin: 0 12%;
            }
            @media screen and (min-width: 1024px){
                margin: 0 14%;
            }

            
            @media screen and (min-width: 1072px){
                &.typewriter{
                    overflow: hidden; /* Ensures the content is not revealed until the animation */
                    border-right: .15em solid transparent; /* The typwriter cursor */
                    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                    letter-spacing: .15em; /* Adjust as needed */
                    animation: typing 3.5s steps(30, end);  
                    white-space: nowrap;
                    animation-delay: 2s;  
                }
            }
            
        }

        .astro{
            position: relative;

            img{
                position: absolute;
                width: 18%;
                right: 42%;
                top: 10%;
                
            }
            
        }

    
        iframe{
            @media screen and (min-width: 768px){
                width: 560px; 
                height: 315px;   
            }
            @media screen and (min-width: 1024px){
                width: 690px; 
                height: 435px;   
            }
        }
    }

    .about5{
        position: relative;
        
        img{
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 75%;
            }
            @media screen and (min-width: 1224px) {
                width: 65%;
            }
        }

        div{
            background-color: yellow;
            position: absolute;
            height: 24px;
            border-radius: 90%;
            width: 24px;

            //AMES
            &.dot1{
               top: 45%;
               left: 13%;
               position: absolute;
               @media screen and (min-width1180px){

               }
            }

            //AFRC
            &.dot2{
               top: 53%;
               left: 17%;
               position: absolute;
            }

            //JSC
            &.dot3{
                left: 50%;
                top: 77%;
                position: absolute;
            }

            //SSC
            &.dot4{
                left: 60%;
                top: 70%;
                position: absolute;
            }

            //MSFC
            &.dot5{
                left: 65%;
                top: 60%;
                position: absolute;
            }

            //KSC
            &.dot6{
                left: 79%;
                top: 80%;
                position: absolute;
            }

            //GRC
            &.dot7{
                left: 69%;
                top: 39%;
                position: absolute;
            }

            //HQ
            &.dot8{
                left: 74.3%;
                top: 45.3%;
                position: absolute;
            }

            //GSFC
            &.dot9{
                left: 78%;
                top: 41%;
                position: absolute;
            }

            //LaRC
            &.dot10{
                left: 79%;
                top: 47%;
                position: absolute;
            }
        }
    }

    .aboutToTop{
        margin-bottom: 20px;
        margin-top: 40%;
        @media screen and (min-width: 1024px){
            margin-top: 20%;
        }
        
        a{
            margin-bottom: 0;
            cursor: pointer;
            padding-bottom: 30px;

            img{
                height: 30px;
            }
        }
    }


}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


.locations{
    margin-top: 10%;
    position: relative;

    div{
        display: none;

        h4{
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            white-space: nowrap;
            margin-bottom: 10px;
            font-size: 0.9em;
        }

        a{
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            font-size: 0.8em;
            text-decoration: none;
        }

        &.ames{

            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: -400px;
                    top: -300px;
                }
            }
        }

        &.afrc{
            
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: -379px;
                    margin-top: -177px;
                }
            }
        }

        &.jsc{
            
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: -164px;
                    margin-top: -87px;
                }
            }
        }

        &.ksc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 207px;
                    margin-top: -119px;
                }
            }
        }

        &.ssc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 13px;
                    margin-top: -114px;
                }
            }
        }

        &.msfc{
            
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 195px;
                    margin-top: -203px;
                }
            }
        }

        &.grc{
          
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 20px;
                    margin-top: -443px;
                }
            }
        }

        &.hq{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 118px;
                    margin-top: -389px;
                }
            }
        }

        &.lrc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 211px;
                    margin-top: -264px;
                }
            }
        }

        &.gsfc{
           
            &.show{
                @media screen and (min-width: 800px){
                    display: block;
                    position: absolute;
                    margin-left: 200px;
                    margin-top: -347px;
                }
            }
        }

    }
}