.home {
	height: 100%; 
	overflow: hidden;

	 %earth-position{
	 	background-size: cover;
		background-repeat: no-repeat;
		height: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	 }

	.earth{
		@extend %earth-position;
		background-image: url(../img/earth2.png);
		width: 29%;
		padding-bottom: 29%;
		z-index: 2;

	}
	.glow{
		@extend %earth-position;
		pointer-events: none;
		background-color: transparent;
		width: 20%;
		padding-bottom: 20%;
		border-radius: 50%;
		opacity: .2;
		box-shadow: 0 0 0 rgba(45, 94, 167, 0.4);
  		animation: pulse 6s infinite;
  		z-index: 0;


	}
	.smoke {
		@extend %earth-position;
		pointer-events: none;
		background-image: url(../img/smokeEffect.png);		
		width: 40%;
		padding-bottom: 40%;
		z-index: 1;
		opacity: .2;
		animation-iteration-count: infinite;
		animation: rotating 300s;
		-webkit-filter:blur(1px);
	}

	.mars{
		background-image: url(../img/mars.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 18%;
		height: 0;
		padding-bottom: 18%;
		position: absolute;
		top: 20%;
		left: 94%;
		opacity: 0.5;
	}

	.mercury{
		background-image: url(../img/mercury.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 14%;
		height: 0;
		padding-bottom: 14%;
		position: absolute;
		top: 85%;
		left: -10%;
		opacity: 0.5;
	}

	.orb{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 0.6px solid #34436B;
		border-radius: 50%;
		box-shadow: 0 18px 24px 10px rgba(45, 94, 167, 0);



		a{

			font-family: 'Montserrat', sans-serif;
			display: flex;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: -10px;
			justify-content: center;


			@media screen and (min-width: 768px){
				font-size: 1.2em;
			}

		}

		
		&.orb-1{
			width: 40%;
			height: 0;
			padding-bottom: 40%;

			.about-btn, .missions-btn{
				background-size: cover;
				background-repeat: no-repeat;
				width: 11%;
				height: 0;
				padding-bottom: 11%;
				position: absolute;
				transform: translate(-50%, -50%);

				animation-iteration-count: infinite;
				animation: rotatingReverse 20s linear infinite;
			}

			.about-btn{
				background-image: url(../img/rotatingCircles.png);
				top: 0.8%;
				left: 50%;
			}

			.missions-btn{
				background-image: url(../img/rotatingCircles.png);
				top: 100%;
				left: 50%;
			}

			animation-iteration-count: infinite;
			animation: rotating 20s linear infinite;

			&:hover{
				animation-play-state: paused;
				.about-btn, .missions-btn{ 
					animation-play-state: paused;
				}
			}

		}
		
		&.orb-2{

			width: 55%;
			height: 0;
			padding-bottom: 55%;

			.news-btn, .home-btn{
				background-size: cover;
				background-repeat: no-repeat;
				width: 11%;
				height: 0;
				padding-bottom: 11%;
				position: absolute;
				transform: translate(-50%, -50%);
				animation-iteration-count: infinite;
				animation: rotating 20s linear infinite;

			}

			.news-btn{
				background-image: url(../img/rotatingCircles.png);
				left: 0%;
				top: 50%;
			}

			.home-btn{
				background-image: url(../img/rotatingCircles.png);
				left: 100%;
				top: 50%;
			}

			animation-iteration-count: infinite;
			animation: rotatingReverse 20s linear infinite;

			&:hover{
				animation-play-state: paused;
				.news-btn, .home-btn {
					animation-play-state: paused;
				}
			}
			
		}
	}
}




@keyframes rotating{
	0% { transform: translate(-50%, -50%) rotate(0deg);}
	100% { transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes rotatingReverse{
	0% { transform: translate(-50%, -50%) rotate(0deg);}
	100% { transform: translate(-50%, -50%) rotate(-360deg);}
}

@keyframes rotatingNavItem{
	0% { transform: translate(-50%, -50%) rotate(0deg);}
	100% {transform: translate(-50%, -50%) rotate(-360deg);}
}


@keyframes pulse {
  0% {
  		// transform: translate(-50%, -50%) scale(1);
    	box-shadow: 0 0 80px 0 rgba(45, 94, 167, 0);
  }
  50% {
  	// transform: translate(-50%, -50%) scale(1.05);

      box-shadow: 0 0 100px 90px rgba(45, 94, 167, 0.8);
  }
  100% {
  	  	// transform: translate(-50%, -50%) scale(1);

      box-shadow: 0 0 80px 0 rgba(45, 94, 167, 0);
  }
}




