.home {
	

	.earth{
		background-image: url(../img/earth2.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 25%;
		height: 0;
		padding-bottom: 25%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.orb{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 0.6px solid rgba(0, 17, 255, 0.7);
		border-radius: 50%;

		a{
			// show menu items on mobile since thers no hover on mobile
			@media screen and (max-width: 767px){
				opacity: 0.5;
			}
			font-family: 'Montserrat', sans-serif;
			opacity: 0;
			display: flex;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: -10px;
			justify-content: center;

			&:hover{
				opacity: 1;
			}


			@media screen and (min-width: 768px){
				font-size: 1.2em;
			}
		}

		
		&.orb-1{
			width: 40%;
			height: 0;
			padding-bottom: 40%;

			.about-btn, .missions-btn{
				background-size: cover;
				background-repeat: no-repeat;
				width: 11%;
				height: 0;
				padding-bottom: 11%;
				position: absolute;
				transform: translate(-50%, -50%);
			}

			.about-btn{
				background-image: url(../img/rotatingCircles.png);
				top: 0.8%;
				left: 50%;
			}

			.missions-btn{
				background-image: url(../img/rotatingCircles.png);
				top: 100%;
				left: 50%;
			}


		}
		
		&.orb-2{
			width: 55%;
			height: 0;
			padding-bottom: 55%;

			.news-btn, .home-btn{
				background-size: cover;
				background-repeat: no-repeat;
				width: 11%;
				height: 0;
				padding-bottom: 11%;
				position: absolute;
				transform: translate(-50%, -50%);
			}

			.news-btn{
				background-image: url(../img/rotatingCircles.png);
				left: 0%;
				top: 50%;
			}

			.home-btn{
				background-image: url(../img/rotatingCircles.png);
				left: 100%;
				top: 50%;
			}
			
		}
	}
}