// font-family: 'Gugi', cursive;
// font-family: 'Montserrat', sans-serif;


#missions{
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 0.9em;
        @media screen and (max-width:767px){
            margin-bottom: 30%;
        }
        margin-top: 20%;
        text-align: center;
        font-family: 'Gugi', cursive;
        font-size: 1.8em;
    }

    .mission{
        margin: auto 12%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 30%;
        @media screen and (min-width: 1024px){
            margin: 16% auto;
            flex-direction: row;
            align-items: center;
        }

        h1{
            padding: 0;
            margin: 0% auto;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            line-height: 1.8em;
            font-size: 1em;
            @media screen and (min-width: 500px){
                margin: 0 auto;
                max-width: 300px;
            }

            @media screen and (min-width: 1024px){
                font-size: 1.3em; 
                text-align: left;
                justify-content: flex-start;
                margin: 6% 0 3% 0;
                max-width: 100%;
            }
           
        }

        h2{
            display: flex;
            text-align: center;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.8em;
            font-weight: 300;
            margin-top: 20px;
            
            @media screen and (min-width: 1024px){
                justify-content: left;
                font-size: 1em;
                margin-top: 8px;
            }
        }

        img{
            @media screen and (max-width: 1023px){
                max-height: 212px;
                align-self: center;
                padding-right: 0px;
            }
            @media screen and (min-width: 1024px){
                margin-top: -93px;
            }
        }

        p{
            font-family: 'Montserrat', sans-serif;
            line-height: 1.9em;
            font-size: 0.7em;
            letter-spacing: 0.09em;
            padding-top: 30px;
            font-weight: 300;
            padding-bottom: 30%;
            text-align: center;
            @media screen and (min-width: 600px){
                font-size: 0.8em;
                margin: auto 10%;
                line-height: 2em;
            }
            @media screen and (min-width: 768px){
                font-size: 0.82em;
                margin: auto 10%;
                line-height: 2.2em;
            }
            
            @media screen and (min-width: 1024px){
                padding-top: 0;
                text-align: left;
                max-width: 530px;
                margin: 30px 0 0 0;
            }
        }

        &.missionSeeMore{
            a{
                color: #fff;
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3em;
                display: flex;
                justify-content: center;
                @media screen and (min-width: 870px){
                    margin-bottom: 10%;
                }

                &:hover{
                    color: red;
                }
            }
        }

    }

}



.missionBackToTop{
    margin-bottom: 0;
    margin: 0 auto;

    
    a{
        display: flex;
        align-self: center;
        justify-content: center;
        cursor: pointer;
        padding-bottom: 30px;

        img{
            height: 30px;
        }
    }
}