#news{
	// display: flex; // applied by JS
	flex-direction: column;
	flex-wrap: wrap; 

	h1{
		text-align: center;
		font-family: 'Gugi', cursive;
		font-size: 1.8em;
		white-space: nowrap;
		margin: 100px 0;
	}

   a{
		text-decoration: none;
	}
	.masonry{
		display: flex;
		flex-flow: row wrap;
		// margin-left: -8px; /* Adjustment for the gutter */
		width: 100%;
	}

	.article {
	  flex: auto;
	  height: 250px;
	  min-width: 150px;
	  margin: 8px; /* Some gutter */
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  transition: .2s;
	  display: flex;
  	  justify-content: center;
  	  align-items: center;
  	  -webkit-filter: grayscale(0%);


		h2{
			opacity: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: white;
			font-size: 1rem;
			font-family: 'Montserrat', sans-serif;
			width: 100%;
			transition: .2s;
			padding: 5px 0;
			white-space: normal;
			/*no wrap on super small screens like flip phones*/  
			overflow: hidden;
			/* gets rid of horizontal scroll bar*/   
			text-overflow: ellipsis;
			/*adds an ellipsis*/


		}
		&:hover {
			h2{
				opacity: 1;        
			}
			.article{
        		// background:linear-gradient(-45deg, blue 0%, gray 100%);
			}
		}
		&:nth-child(4n+1){
		   width: 250px;
		}
		&:nth-child(4n+2){
		   width: 325px;
		}
		&:nth-child(4n+3){
		   width: 180px;
		}
		&:nth-child(4n+4){
		   width: 380px;
		}
		&:nth-child(4n+5){
		   width: 275px;
		}
		&:nth-child(4n+6){
		   width: 300px;
		}
		&:nth-child(4n+7){
		   width: 150px;
		}
		&:nth-child(4n+8){
		   width: 500px;
		}
	}

	.article1 {
		background-image: url(../img/news-1.jpg);
	}
	.article2 {
		background-image: url(../img/news-2.jpg);     
	}
	.article3 {
		background-image: url(../img/news-3.jpg);
	}
	.article4 {
		background-image: url(../img/news-4.jpg);
		background-position: 50% 20%;
	}
	.article5 {
		background-image: url(../img/news-5.jpg);
	}
	.article6 {
		background-image: url(../img/news-6.jpg);
	}
	.article7 {
		background-image: url(../img/news-7.jpg);
	}
	.article8 {
		background-image: url(../img/news-8.jpg);
	}
	.article9 {
		background-image: url(../img/news-9.jpg);
	}
	.article10 {
		background-image: url(../img/news-10.jpg);
	}
	.article11 {
		background-image: url(../img/news-11.jpg);
	}
	.article12 {
		background-image: url(../img/news-12.jpg);
	}
	
	
	.newsToTop{
		margin-bottom: 0;
		margin: 0 auto;

		
		a{
			display: flex;
			align-self: center;
			justify-content: center;
			cursor: pointer;
			padding-bottom: 30px;

			img{
				height: 30px;
			}
		}
	}
}



	