section.home {
	

	.earth{
		background-image: url(../img/earth2.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 40%;
		height: 0;
		padding-bottom: 40%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}


	.orb{
		display: flex;
		justify-content: center;

		.orb-1{
			background-image: url(../img/innerSmallBlueEllipse.png);
			background-repeat: no-repeat;
			height: 70%;
			width: 70%;
		}

		.orb-2{

		}
	}
}