
@import 'reset';


/* 1. Main Layout ================================= */

@import 'partials/home';
@import 'partials/missions';
@import 'partials/header';
@import 'partials/news';
@import 'partials/about';
@import 'partials/stars';


* {
	box-sizing: border-box;
}

body {
	background-image: url(../img/background.png);
	background-attachment: fixed;
	color: white;
	overflow-x: hidden;

}


section.main-section {
	min-height: 100vh;
	display: none;

	&#home {
		display: flex;
	}
	&.active {
		display: flex;
	}
	
}