/* 
==============================================
CONTENT:	Nasa Project
AUTHOR:		Cassandra Desrosiers & Erin Kahn
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

@import 'partials/home';
@import 'partials/missions';
@import 'partials/header';
@import 'partials/news';
// @import 'partials/whatever'
// @import 'partials/whatever'

* {
	box-sizing: border-box;
}

body {
	background-image: url(../img/background.png);
	background-attachment: fixed;
	color: white;
}

section {
	min-height: 100vh;
	&.home {
		height: 100vh;
	}
}

.hide{
	// display: none;
}