/* 
==============================================
CONTENT:	Nasa Project
AUTHOR:		Cassandra Desrosiers & Erin Kahn
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background-image: url(../img/background.png);
	background-attachment: fixed;
	color: white;
}

section {
	min-height: 100vh;
	&.home {
		height: 100vh;
		background-color: rgba(255,0,0,0.3);
	}
}

.nasa-logo{
	background-image: url(../img/logo.gif);
	background-size: contain;
	background-repeat: no-repeat;
	width: 130px;
	height: 130px;
	margin: 30px;
}

.earth{
	background-image: url(../img/earth2.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 40%;
	height: 0;
	padding-bottom: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}